*
{
    margin: 0;
    padding: 0;
}

body{
    overflow-x:hidden;
}

html, body, .Container
{
    height: 100%;
}

.Container:before
{
    content: '';
    height: 100%;
    float: left;
}

.Header
{
    margin-bottom: 20px;
    background-color: #0404B4;
}
.Content
{
    position: relative;
    z-index: 1;
}
.Content:after
{
    content: '';
    clear: both;
    display: block;
}

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.Wrapper > div
{
    height: 100%;

}

.LeftContent
{
    width:55%;
}

.graph{
    width: 90%;
    height: auto;
}

.graphs{
    width: 100%;
    text-align: center;
}

.graphs td{
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(150,150,150,0.6);
}

.RightContent
{
    float: right;
    margin-left: 10px;
    width: 44%;

}
p.info {
    color: white;
}

table td, table td * {
    vertical-align: top;
}

td{
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.detail td{
    background: rgba(255,255,255,0.6);
}

.lecture_table td{
    background: rgba(200,255,255,0.6);
}

.lab_table td{
    background: rgba(255,200,200,0.6);
}

.tut_table td{
    background: rgba(200,200,255,0.6);
}

.re_table td{
    background: rgba(255,255,200,0.6);
}

.l_title{
    font-family: 'Roboto', sans-serif;
    color: black;
    background: rgba(200,255,255,0.6);
    display: inline;
}

.la_title{
    font-family: 'Roboto', sans-serif;
    color: black;
    background: rgba(255,200,200,0.6);
    display: inline;
}

.t_title{
    font-family: 'Roboto', sans-serif;
    color: black;
    background: rgba(200,200,255,0.6);
    display: inline;
}

.r_title{
    font-family: 'Roboto', sans-serif;
    color: black;
    background: rgba(255,255,200,0.6);
    display: inline;
}

.title{
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: whitesmoke;
}